body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
  }
  html {
    scroll-behavior: smooth;
  }

nav{
    background-color: #37517E;
    margin: 0;
    top: 0%;
    display: flex;
    position: fixed;
    justify-content: space-around;
    width: 100%;
    z-index: 2000;
    padding: 15px;
  }
  header nav ul.menu {
    display: flex;
    list-style: none;
    gap: 60px;
  }

  header nav ul.menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  } 

  
  .hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px;
    background-color: #2d4464;
    color: white;
    margin-top: 90px;
    height: 100%;
    margin-bottom: 20px;
  }
  
  .hero-content {
    max-width: 500px;
  }
  
  .hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
    width: 700px;
  }
  
  .hero p {
    font-size: 1.3em;
    margin-bottom: 20px;
    line-height: 30px;
  }
  
  .buttons {
    display: flex;
    gap: 20px;
  }
  .buttons i{
    font-size: 32px;
    transition: 0.3s;
    line-height: 0;
    margin-right: 8px;
  }
  
  .btn-primary {
    /* padding: 10px 20px;
    background-color: #4bb7ff;
    color: white;
     
    text-decoration: none;
    font-size: 1em;
    border-radius: 20px; */
    background-color: #4bb7ff;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 20px 28px 20px 30px;
    border-radius: 50px;
    transition: 0.5s;
     text-decoration: none;
     color: white;
  }
  
  .btn-secondary {
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-size: 1em;
    border-radius: 5px;
  }
  
  .hero-image {
    position: relative;
  }
  
  .hero-image img {
    max-width: 600px;
    animation: moveImage 3s infinite alternate;
  }
  
 
  @keyframes moveImage {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }
  